 .blog-post{
  margin: auto;
  border: #ccc 2px solid;
  display: flex;
  flex-wrap:initial;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-start;
  height: 60vh;
  width: 93vw;
 }

.img-div {
  align-self: center;
  width: 30%;
  margin-right: 30px;
}

.blog-post p {
  padding-top: 40px;
}



 .blog-post img{
  height: 325px;
  width: 325px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 100px;
 }

.blog-post h1{
  border-bottom: #ccc 1px dotted;
  width: 300px;
  font-size: 34px;
  margin-bottom: 40px;
}

.content-div {
  align-self: center;
  margin-left: 30px;
}

.blog-author-date{
  display: flex;
  align-items: flex-end;
  font-size: 16px;
  font-weight: 700;
}

.blog-author-date p:nth-child(2){
  padding-left: 20px;
  height: 100%;
}

.blog-author-date p span{
 font-weight: 400;
}