.comment-form {
  width: 93vw;
  height: 320px;
  border: 2px solid #ccc;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.comment-box {
  margin-bottom: 20px;
  margin-right: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  width: 70px;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

button:hover {
  background-color: #ccc;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
